.banner-image {
    height: 150px;
    /* width: 350px; */
    padding-right: 25px;
    object-fit: cover;
    color-scheme: darkred;
    margin: auto;
}

nav a {
    flex-direction: row-reverse;
    text-decoration: none;
    padding-right: 25px;
    margin: auto;
    margin-left: 1%;
}