.banner-image {
    height: 150px;
    width: 350px;
    object-fit: cover;
}

nav a {
    display: flex;
    text-decoration: none;
    margin-left: 90%;
    margin-bottom: 8px;
}

form {
    margin-left: 5%;
}

