.banner-image {
    height: 150px;
    width: 350px;
    object-fit: cover;
    color:black;
}

nav a {
    flex-direction: row-reverse;
    text-decoration: none;
    padding-right: 25px;
    margin: 5%;
}

/* nav a.item {
    
} */

form {
    margin-left: 5%;
}