input {
    text-decoration: none;
    border-radius: 10px;
}

button {
    text-decoration: none;
    border-radius: 10px;
}

h2 {
    color: rgb(102, 238, 238);
}

p {
    color: red;
}

img{
    height: 325px;
   display: flex;
   justify-content: flex-start;
}